{{> banner}}


<nav id="nav-bar">
    <div id="brand" class="nav-items">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="btn btn-primary btn-sm" href='/' role="button">Home</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-primary btn-sm" href='/postimage' role="button">Post</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <input id="search-text" name="search-text" class="form-control mr-sm-2" type="search"
                    placeholder="Search" aria-label="Search">
                <button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <li class="nav-item">
                <a class="btn btn-primary btn-sm" href='/login' role="button">Login</a>
            </li>

        </ul>
    </div>
</nav>