<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css">
    <title>Image Post</title>
</head>
<body>
    <div class="grid-container">
    <header>
        <h1>Image Post</h1>
    </header>
    <form>
    <section>
        <label>Post Title</label>
    </section>
    <section>
        <label>Post Author</label>
    </section>
    <section>
        <label>Post Creation Time</label>
    </section>
    <section>
        <label>Post's Image</label>
    </section>
    </form>
    </div>
</body>
</html>