<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script defer src="../public/js/samplejs.js"></script>
</head>
<body>  
    <div class="login">
    <input type="button" value="Login" onclick="location.href='/login' "> 
    </div>
    <div class="register">
    <input type="button" value="Register" onclick="location.href='/registration' "> 
    </div>
    <a href="/postimage" id="post-button" class="nav-items anchor-buttons">Post</a>
    <h1 id="items-count"></h1>
     <h1 id="name">Photo App</h1>
    <div id="container"></div>

</body>
</html>