<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    {{!-- <link rel="stylesheet" type="text/css" href="../public/css/form.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    {{!-- <script defer src="../public/js/samplejs.js"></script> --}}
    <script defer src="../public/js/frontend.js"></script>
</head>

<body>
    <div id="main-content">
        <div class="jumbotron text-center">
        <h1 class="display-4">Photo App</h1>
        </div>

    {{!-- <div id="banner">
        <div id="banner-icon"><i class="banner-flex-item fa fa-camera-retro" aria-hidden="true"></i></div>
        <span id="banner-text" class="banner-flex-item">Photo App</span>
    </div> --}}

    
    <nav id="nav-bar">
        <div id="brand" class="nav-items">
            <a href='/' id="brand-anchor"><span id="brand-text"><i style="margin-right: .2rem;"></i>Home</span></a>
        </div>
        
    </nav>
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="btn btn-primary btn-md" href='/' role="button">Home</a>
  </li>
        
  <li class="nav-item">
    <a class="btn btn-primary btn-md" href='/login' role="button">Login</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-primary btn-md" href='/postimage' role="button">Post</a>
  </li>
  <form class="form-inline my-2 my-lg-0">
      <input id="search-text" name="search-text" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</ul>

    {{log this}}
    {{#if (emptyObject messages)}}
    {{> flashmessage}}
    {{/if}}

       {{#if logged}}
    <script>
        let ele = document.getElementById('logout-button');
        uf(ele){
            ele.onclick = (even) => {
                fetch('/user/logout', {
                    method: "POST"
                })
                    .then((data) => {
                        location.replace('/');
                    })
            }
        } 
    </script>
    {{/if}}

        
    </div>
    {{!-- {{log this}}
    {{#if (emptyObject messages)}}
    {{> flashmessage}}
    {{/if}} --}}

    {{!-- <div class="login">
        <input type="button" value="Login" onclick="location.href='/login' ">
    </div> --}}
    <div class="register">
        <input type="button" value="Register" onclick="location.href='/registration' ">
    </div>
   
    {{!-- <a href="/postimage" id="post-button" class="nav-items anchor-buttons">Post</a> --}}

    <div id="container">

        {{#each results}}
            {{> card this}}
        {{/each}}

    
            

    </div>



    </div>
    {{!-- <div class="jumbotron text-center">
        <h1 class="display-4">Photo App</h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        
    </nav> --}}


    {{!-- <div class="login">
        <input type="button" value="Login" onclick="location.href='/login' ">
    </div>
    <div class="register">
        <input type="button" value="Register" onclick="location.href='/registration' ">
    </div>
    <a href="/postimage" id="post-button" class="nav-items anchor-buttons">Post</a> --}}
{{!-- 
    {{#if logged}}
    <script>
        let ele = document.getElementById('logout-button');
        uf(ele){
            ele.onclick = (even) => {
                fetch('/user/logout', {
                    method: "POST"
                })
                    .then((data) => {
                        location.replace('/');
                    })
            }
        } 
    </script>
    {{/if}} --}}
    <h1 id="items-count"></h1>
    {{!-- <div id="container"></div> --}}

</body>

</html>