<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css">
    {{!-- <script defer src="../routes/index.js"></script> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Login</title>
</head>
<body>

        <div id="container">
        <div class="jumbotron text-center">
        <h1 class="display-4">Photo App</h1>
        </div>

    <div class="grid-container">
    <header>
        <h1>Login Form</h1>
    </header>

    <form id="login-form" class="form-login" method="POST" action="/users/login"
    enctype="application/x-www-form-urlencoded">
        <div>
        <label for="username">User Name</label>
        <input type="text" name="username" id="username" placeholder="Username"
         required/>
        </div>
        <br />
        <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" 
        required/>
        </div>
        <br />
        <button id="submit" class="btn btn-success login-submit form-buttom" 
        type="submit">Login</button>
        {{!-- <div class ="submit">
        <input type="submit" id="submit" value="Submit">
        </div> --}}
        <button id="cancel" class="btn btn-danger login-reset form-buttom" 
        type="reset">Clear</button>

        <a href='/registration'>Register</a>



    </form>
    </div>
    
</body>
</html>