<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    <title>Post Images</title>
</head>
<body>
    <div class="grid-container">
    <header>
        <h1>Post Images</h1>
    </header>
    <form>
    <div>
    <label>Post Title</label>
    <input type="text"/>
    </div>
    <br />
    <div>
    <label>Post Description</label>
    <input type="text"/>
    </div>
    <br />
    <div>
    <label>Input an Image</label>
    <input type="file">
    </div>
    <br>
    <div id="policy">Must accept Use Policy for uploading images
        <button type="button">Accept</button>
    </div>
    <br>
    <input type="submit" value="Submit Imgaes">
    </div>
    </form> 
</body>
</html>