* {
    box-sizing: border-box;
    text-size-adjust: center;
  }


header {
    background-color: rgba(191, 216, 227, 0.8);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
}
form{
    background-color: rgba(191, 216, 227, .4);
    border: 1px solid rgba(191, 216, 227, .8);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}
form>label{
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

.grid-container{
    display: grid;
    margin: 20px auto auto auto;
    align-content: center;
    align-items: stretch;
    grid-template-columns: repeat(2, minmax(150px, 30%));
    grid-template-rows: repeat(2, minmax(160px, 30%));
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;

}

#flash-message{
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%,0);
}

#flash-message div{
  text-align: center;

}
header, form, section, h3{
    grid-column: 1/span 2;
    width: auto;
}
.age, .rules{
    border-right: 1px dotted rgb(191, 216, 227);
    padding: 0 10px 0 0;
    align-self: left;
    width: auto;
    grid-column: 1;
}

input[type="text"],
input[type="password"], input[type="email"], input[type="checkbox"]{
  border: 1px solid rgba(191, 216, 227, .8);
  padding: 5px;
  border-radius: 5px;
  grid-column: 2/2;
  grid-row: 2/2;
}

input[type="submit"], [type="reset"] {
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius: 5px;
    color: #fff;
    background-color: rgb(54, 134, 169);
    font-size: 100%;
    grid-column: 1;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 20px;
  }

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 18px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 25px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    
  }

  